.idea/
__pycache__/
*.py[cod]
.mypy_cache/
out/
.venv/
venv/
.env
.env.*
.pytest_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
dist/
build/
*.egg-info/
.ipynb_checkpoints/
.vscode/
*.log
Thumbs.db
.DS_Store
~$*.xlsx
